<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>
                <p style="color: #000; font-size: 45px; font-weight: bold;">Jitu Constructions LTD</p>
            </th>
        </tr>
        <tr>
            <td>
                <table>
                    <img src="https://cdn.pixabay.com/photo/2015/11/26/07/47/hands-1063442_640.jpg" alt="image">
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: 30px;"> Hello, <%=email%></p>
                <h2 style="font-size: 35px;">Welcome to Jitu Constructions</h2>
                <p style="color:black; font-size:30px; margin: 10px 2px">
                    We appreciate your decision to be part of us. Welcome aboard
                </p>
                <p style="margin: 10px"></p>
            </td>
        </tr>
    </table>
</body>
</html>